<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link rel="stylesheet" href="../stylesheets/Checkout/stylesCheckoutResp.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout de Compra</title>
</head>

<body>
   <!-- <header>
        <div class="menu-topo">
            <img src="../images/logo.jpeg" alt="logo d-house">
        </div>
    </header> 
    <%- include('./partials/headerCkeckout.ejs') %>!-->
    <nav class="navbar navbar-expand-md navbar-light fixed-top box-shadow" style="background: linear-gradient(90deg, rgba(255, 92, 0, 0.9) 4.06%, rgba(255, 119, 41, 0.9) 57.09%, rgba(255, 146, 45, 0.9) 100%);">
        <a class="navbar-brand" href="#">
          <img src="../images/logo.jpeg" alt="logo d-house"  height="40"  >
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" 
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    </nav>

    <main class="flex-fill">
      <div class="container-fluid">
          <h1>Carrinho de Compras</h1>
          <ul class="list-group mb-3">
              <li class="list-group-item py-3">
                  <div class="row g-3">
                      <div class="col-4 col-md-3 col-lg-2">
                          <a href="#">
                              <img src="../images/fire101.jpg" class="img-thumbnail">
                          </a>
                      </div>
                      <div class="col-8 col-md-9 col-lg-7 col-xl-8 text-left align-self-center">
                          <h4>
                              <b><a href="#" class="text-decoration-none text-secondary">
                                      Jogo de Prato Tavola</a></b>
                          </h4>
                          <h5 class="text-decoration-none text-warning">Sofisticado e resistente.</h5>
                      </div>
                      <div
                          class="col-6 offset-6 col-sm-6 offset-sm-6 col-md-4 offset-md-8 col-lg-3 offset-lg-0 col-xl-2 align-self-center mt-3">
                          <div class="input-group">
                              <button class="btn btn-outline-dark btn-sm" type="button">
                                <img src="../images/caret-down-fill.svg" class="img-thumbnail">
                                  <!-- <i class="bi-caret-down" style="font-size: 16px; line-height: 16px;"></i> -->
                              </button>
                              <input type="text" class="form-control text-center border-dark" value="1">
                              <button class="btn btn-outline-dark btn-sm" type="button">
                                <img src="../images/caret-up-fill.svg" class="img-thumbnail">
                                <!-- <i class="bi-caret-up" style="font-size: 16px; line-height: 16px;"></i> -->
                              </button>
                              <button class="btn btn-outline-danger border-dark btn-sm" type="button">
                                <img src="../images/trash.svg" class="img-thumbnail">
                                  <!-- <i class="bi-trash" style="font-size: 16px; line-height: 16px;"></i> -->
                              </button>
                          </div>
                          <div class="text-end mt-2">
                              <small class="text-secondary">Valor: R$ 186,06</small><br>
                              <span class="text-dark">Valor Item: R$ 186,06</span>
                          </div>
                      </div>
                  </div>
              </li>

              <li class="list-group-item py-3">
                <div class="row g-3">
                    <div class="col-4 col-md-3 col-lg-2">
                        <a href="#">
                            <img src="../images/carrobranco.jpg" class="img-thumbnail">
                        </a> 

                    </div>
                    <div class="col-8 col-md-9 col-lg-7 col-xl-8 text-left align-self-center">
                        <h4>
                            <b><a href="#" class="text-decoration-none text-secondary">
                              Jogo de Prato White</a></b>
                        </h4>
                        <h5 class="text-decoration-none text-warning">
                            Qualidade e leveza para o dia a dia.
                        </h5>
                    </div>
                    <div
                        class="col-6 offset-6 col-sm-6 offset-sm-6 col-md-4 offset-md-8 col-lg-3 offset-lg-0 col-xl-2 align-self-center mt-3">
                        <div class="input-group">
                            <button class="btn btn-outline-dark btn-sm" type="button">
                              <img src="../images/caret-down-fill.svg" class="img-thumbnail">
                                <!-- <i class="bi bi-caret-down-fill" style="font-size: 16px; line-height: 16px;"></i> -->
                            </button>
                            <input type="text" class="form-control text-center border-dark" value="1">
                            <button class="btn btn-outline-dark btn-sm" type="button">
                              <img src="../images/caret-up-fill.svg" class="img-thumbnail">
                              <!-- <i class="bi-caret-up" style="font-size: 16px; line-height: 16px;"></i> -->
                            </button>
                            <button class="btn btn-outline-danger border-dark btn-sm" type="button">
                              <img src="../images/trash.svg" class="img-thumbnail">
                              <!-- <i class="bi-trash" style="font-size: 16px; line-height: 16px;"></i> -->
                            </button>
                        </div>
                        <div class="text-end mt-2">
                            <small class="text-secondary">Valor: R$ 233,99</small><br>
                            <span class="text-dark">Valor Item: R$ 233,99</span>
                        </div>
                    </div>
                </div>
            </li>
              <li class="list-group-item py-3">
                  <div class="row g-3">
                      <div class="col-4 col-md-3 col-lg-2">                        
                        <a href="#">
                              <img src="../images/flores.jpg" class="img-thumbnail">                              
                          </a>
                      </div>
                      <div class="col-8 col-md-9 col-lg-7 col-xl-8 text-left align-self-center">
                          <h4>
                              <b><a href="#" class="text-decoration-none text-secondary">
                                Jogo de Prato Things</a></b>
                          </h4>
                          <h5 class="text-decoration-none text-warning">
                              Qualidade e leveza para o dia a dia.
                          </h5>
                      </div>
                      <div
                          class="col-6 offset-6 col-sm-6 offset-sm-6 col-md-4 offset-md-8 col-lg-3 offset-lg-0 col-xl-2 align-self-center mt-3">
                          <div class="input-group">
                              <button class="btn btn-outline-dark btn-sm" type="button">
                                <img src="../images/caret-down-fill.svg" class="img-thumbnail">
                                  <!-- <i class="bi-caret-down" style="font-size: 16px; line-height: 16px;"></i> -->
                              </button>
                              <input type="text" class="form-control text-center border-dark" value="1">
                              <button class="btn btn-outline-dark btn-sm" type="button">
                                <img src="../images/caret-up-fill.svg" class="img-thumbnail">
                                  <!-- <i class="bi-caret-up" style="font-size: 16px; line-height: 16px;"></i> -->
                              </button>
                              <button class="btn btn-outline-danger border-dark btn-sm" type="button">
                                <img src="../images/trash.svg" class="img-thumbnail">
                                  <!-- <i class="bi-trash" style="font-size: 16px; line-height: 16px;"></i> -->
                              </button>
                          </div>
                          <div class="text-end mt-2">
                              <small class="text-secondary">Valor: R$ 115,96</small><br>
                              <span class="text-dark">Valor Item: R$ 115,96</span>
                          </div>
                      </div>
                  </div>
              </li>
              <li class="list-group-item py-3">
                  <div class="text-end">
                      <h4 class="text-dark mb-3">
                          Valor Total: R$ 536.01
                      </h4>
                      <form action="/checkout/checkoutCompra/1" method="GET">
                        <button type="submit" class="btn btn-outline-success btn-lg" >Continuar Comprando</button>
                    </form>
                    <!--  <a href="/index.html" class="btn btn-outline-success btn-lg">
                          Continuar Comprando                            
                      </a> -->
                    <!--  <a href="/fechamento_itens.html" class="btn btn-danger btn-lg ms-2 mt-xs-3">Fechar Compra</a> -->
                  </div>
              </li>
          </ul>
      </div>
    </main>

    <footer class="bg-light text-center py-3">
      <p class="mb-0 font-weight-bold">© 2022 D'house Comércio Varejista S.A</p>
        <p class="mb-0 font-weight-light">CNPJ: 99.999.999/0001-99</p> 
        <p class="mb-0 font-weight-light">Endereço: Av. Wireframe DH, 999</p> 
        <p class="mb-0 font-weight-light">Pituba - Salvador-BA</p> 
    </footer>

  <!--  <%- include('./partials/footerCheckout.ejs') %>-->
<!--   <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>

</html>
</body>

</html>